* {
	text-align: center;
	font-family: cardo;
	font-size: 16px;
	font: gray;
	box-sizing: border-box;
}


body {
	background-color: #777;
	width: 960px;
	margin: 0px auto;
}


header{
	width: 100%;
	background: #eee;
	padding: 30px;
	margin-bottom: 5px;
	margin-top: 5px;
}

nav {
	padding: 30px;
	background: #eee;
	width: 100%;
	margin-bottom: 10px;

}

section {
	background: #eee;
	float: left;
	width: 500px;
	padding-bottom: 10px;
	margin-top: 10px;
	height: 200px;
	overflow: auto;
	border: 2px solid black;
	
}

aside {
	background: #eee;
	margin-left: 5px;
	padding: 30px;
	padding-bottom: 75px;
	margin-top: 10px;
	float: right;
	width: 400px;
	border: 1px solid black;
	margin-bottom: 10px;
	height: 200px;

}

article {
	background-color: #777;
	padding: 30px;
	border: 1px solid black;
	margin-top: 20px;
	width: 90%;
	overflow: auto;
	margin: 0 auto;
	height: 150px;

}

#headers {
	background: #eee;
	padding: 20px;
	margin-bottom: 10px;
	margin-top: 15px;
	width: 95%;
	height: 25px;
	margin: auto;

}

#paragraph {
	background: #eee;
	padding: 20px;
	width: 95%;
	height: 25px;
	margin: auto;
	margin-top: 5px;

}

footer {
	width: 100%;
	clear: both;
	background: #eee;
	padding: 30px;
	margin-top: 20px;
	border: 1px solid black;
}

